html{
    font:22px;
}
body{
    background-color:chocolate;
    background-image:url(/imgs/logo.JPG);
    background-size: contain;
    color:goldenrod;
}
a{
    color:bisque;
}
a:hover{
    color:aquamarine;
}
a:visited{
    color:darkkhaki;
}